<header class="navbar">
    <nav>
        <div class="nav-logo">
            Logo
        </div>
        <ul class="nav-list">
            <a href="#"><li>Início</li></a>
            <a href="#"><li>Sobre</li></a>
            <a href="#"><li>Projetos</li></a>
            <a id="btn-login"><li>Entrar</li></a>
            <a id="btn-register"><li>Cadastre-se</li></a>
          </ul>
    </nav>
</header>