<header class="navbar">
    <nav>
        <div class="nav-logo">
            Logo
        </div>
        <ul class="nav-list">
            <a href="/"><li>Início</li></a>
            <a href="/about"><li>Sobre</li></a>
            <a href="#"><li>Projetos</li></a>
            <a href="/login"><li>Entrar</li></a>
            <a href="/register"><li>Cadastre-se</li></a>
          </ul>
    </nav>
</header>