<section>
    <header class="sidebar">
        <nav>
            <div class="sidebar-header">
                <div class="sidebar-bn"></div>
                <div class="sidebar-ft"></div>
                <div class="sidebar-user"><span><%- user.username %></span></div>
            </div>
            <ul class="sidebar-list">
                <a href="#"><li><span class="material-icons icon-list">home</span>Inicio</li></a>
                <a href="/dashboard"><li><span class="material-icons icon-list">post_add</span>Postagens</li></a>
                <a href="#"><li><span class="material-icons icon-list">account_circle</span>Perfil</li></a>
                <a href="#"><li><span class="material-icons icon-list">settings</span>Configurações</li></a>
                <a href="/logout"><li><span class="material-icons icon-list">logout</span>Sair</li></a>
            
              </ul>
        </nav>
    </header>
</section>