<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container"> 
        <h1> <% msg %></h1>
        <h2>Seus posts</h2>
        <a href="/new"><button>+Novo post</button></a>
        <div>
            <% posts.forEach(post =>{ %>
                <div>
                    <h2><%- post.title %></h2>
                    <p><%- post.body %></p>
                    <a href="/edit/<%- post.id %>"><button>Editar</button></a>
                    <form action="/remove" method="post" onsubmit="confirmDelete(event, this)">
                        <input type="hidden" name="id" value="<%- post.id %>">
                        <button type="submit">Apagar</button>
                    </form>
                </div>
                    
            <% }); %>

        </div>
    </div>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" value="true">
            <button type="submit">Sair</button>
        </form>
    </div>
    <script>
        function confirmDelete(event, form){
            event.preventDefault();
            let decision = confirm("Você quer deletar este artigo?");
            if(decision){
                form.submit();
            }
        }
    </script>
</body>
</html>