<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,300;0,600;1,100&family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <header class="navbar">
        <nav>
            <a class="logo" href="/">Chico</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Contato</a></li>
              </ul>
        </nav>
    </header>
    <section class="post-session">
        <div class="container">
            <div class="header-post">
                <header>
                    <h2> Recentes </h2>
                </header>
            </div>
            <div class="posts">
                <div class="post">
                    <div class="post-img">
                        <img src="imgs/post-padrao.jpg" alt="" height="100%" width="500px">
                    </div>
                    <div class="post-title">
                        <h2>Influencia no Kpop no final de Boku no Hero</h2>
                    </div>
                </div>
                <div class="post">
                    <div class="post-img">
                        <img src="imgs/post-padrao.jpg" alt="" height="100%" width="500px">
                    </div>
                    <div class="post-title">
                        <h2>Influencia no Kpop no final de Boku no Hero</h2>                         
                        <span></span>
                    </div>
                </div>
                <div class="post">
                    <div class="post-img">
                        <img src="imgs/post-padrao.jpg" alt="" height="100%" width="500px">
                    </div>
                    <div class="post-title">
                        <h2>Influencia no Kpop no final de Boku no Hero</h2>
                    </div>
                </div>
                <div class="post">
                    <div class="post-img">
                        <img src="imgs/post-padrao.jpg" alt="" height="100%" width="500px">
                    </div>
                    <div class="post-title">
                        <h2>Influencia no Kpop no final de Boku no Hero</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
     
















    <script src="js/mobile-navbar.js"></script>
    </body>
</html>