<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/partials/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,300;0,600;1,100&family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="banner">
      
    </div>

    <div class="container">
        <main id="#posts">
            <header>
                <h2>Postagens</h2>
            </header>
            <% posts.forEach(post => { %>
            <a href="/post/<%- post.slug %>">
                <div class="card-post">
                    <div class="card-img">
                        <img src="imgs/banner-temp.png" alt="banner-temporario">
                    </div>
                    <div class="card-info">
                        <div>
                            <h2><%- post.title %> </h2>
                            <p>Breve descrição do post</p>
                        </div>
                        <div>
                            <span>26/10/2023</span>
                        </div>
                    </div>
                </div>
            </a>
            <% }); %> 
        </main>
    </div> 
    <div class="mais-posts">
        <a href="#posts"><button>Ver mais</button></a>
    </div>
    
    <footer>
        <div class="footer-itens">
            <div class="social-links">
                <img src="/imgs/icon-git.svg">
                <a href="https://github.com/FranciscoDavi">Github</a>
            </div>
            <div class="social-links">
                <img src="/imgs/icon-linkedin.svg">
                <a href="https://www.linkedin.com/in/francisco-davi-92053419b/">Linkedin</a>
            </div>
            <div class="social-links">
                <p>Projeto para portifólio</p>
                <p>by Chico</p>
            </div>
        </div>
    </footer>
    <script src="js/mobile-navbar.js"></script>
    
    </body>
</html>