body{
    background-color: gainsboro;
}
.main{
    margin:0 5rem 5rem 25rem;
    padding-top: 2rem;
}

.main-menu header{
    width: 80rem;
    margin-right: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
}

.main-menu{
    display: flex;
    flex-direction: row;
}
.main-menu header span{
    color: grey;
}

.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mensage{
    font-size: 18px;
    text-transform: uppercase;
}
.mensage span{
    margin: 0 auto .5rem auto;
    color: rgb(193, 4, 4);

}   

.main-content form{
    width: 78rem;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 15px;
    background-color: white;
}

.main-content input{
    width: 40vw;
    margin: 0 3rem 0 .2rem;
    padding: .3rem 1rem .3rem 1rem;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 15px;
}

.main-content select{
    width: 10vw;
    margin-left: .2rem;
    padding: .3rem .3rem .3rem 1rem;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 15px;
}

.editpost{
    margin-top: 2rem;
}
.main-content textarea{
    display: block;
    width: 63vw;
    height: 32rem;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid grey;
}

.main-content textarea:focus{
    border: none;
}

.main-content form label{
    font-size: 18px;
}

.main-content form div{
    display: flex;
}

.main-content form button{
    margin: 1rem auto 0 auto;
    background-color: rgb(2, 161, 121);
    padding: 1rem;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
}

.main-content form button:hover{
    cursor: pointer;
}

