/* Navbar */
a{
    color: white;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--secundary-color);
    height: 7vh;
    width: 100%;
    position: fixed;
}

.nav-list{
    display: flex;
}

.nav-list li{
    padding: 1rem;

}
